@model PagedList<TTCNWeb.Models.Sach>

@using PagedList
@using PagedList.Mvc


@{
    ViewBag.Title = "Show";
    Layout = "~/Layout/_LayoutPage.cshtml";
}

@section contentJs{
    <script>
        $(document).ready(function () {

            $('#sl2').slider();

            var RGBChange = function () {
                $('#RGB').css('background', 'rgb(' + r.getValue() + ',' + g.getValue() + ',' + b.getValue() + ')')
            };

            // test slider
            $('.slider').on('slide', function (ev) {

            });

            $('.nav-pills>li>a').click(function (e) {
                e.preventDefault();

                var origin = 'http://localhost:8866/Sach/SearchQuery?author=&category=&maxPrice=&minPrice';
                // get param

                var className = ($(this)[0].children[0].className) // get class name

                var classNameValue = ($(this)[0].innerText) // name

                var link = (e.view.location.href) // link
                //get price
                var value = $('#sl2').val();
              
             
                var index = value.indexOf(',');
                var minPrice = value.slice(0, index);
                var maxPrice = value.slice(index + 1, value.length);
                if (value == "") {
                    minPrice = 0;
                    maxPrice = 999999;
                }
           
                if (link.includes("Search")) {
                    SearchFunc(link, className, classNameValue, minPrice, maxPrice);
                }
                else {
                    SearchFunc(origin, className, classNameValue, minPrice, maxPrice);
                }
               

            });


            function SearchFunc(origin, className, classNameValue, minPrice, maxPrice) {

                //var step = new Promise(function (resolve, reject) {
                   
                //    origin = createParam(origin, "minPrice", minPrice);
                //    origin = createParam(origin, "maxPrice", maxPrice);
                //    console.log(origin)
                //});

                if (className.includes("author")) {
                    origin = createParam(origin, "author", classNameValue);
                 
                }
                if (className.includes("category")) {
                    origin = createParam(origin, "category", classNameValue);
                  
                }
                setTimeout(function () {
                    origin = createParam(origin, "minPrice", minPrice);
                }, 100)
                setTimeout(function () {
                    origin = createParam(origin, "maxPrice", maxPrice);
                    origin = origin.slice(0, origin.length - 1);
                    window.location = origin;
                }, 200)
                
               
                
            }
                

            function createParam(link, name, value) {
                var indexAuthor = link.indexOf(name);
                var next = link.indexOf('&', indexAuthor);

                var str1 = link.slice(0, indexAuthor);
                var str2 = link.slice(next, link.length);
          
                return str1 + name + '=' + value + str2;
            }
        });
    </script>
    <style>
        .nav-pills > li > a:hover {
            color: orange !important;
            cursor: pointer;
        }

        .slider {
            display: block;
        }
    </style>

}

<section>


    <div class="container">
        <div class="row is-table-row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Category</h2>

                    <div class="brands-name">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a><span class="pull-right  category"></span>Công nghệ thông tin</a></li>
                            <li><a> <span class="pull-right category"></span>Phật Giáo</a></li>
                            <li><a> <span class="pull-right category"></span>Ngoại ngữ</a></li>
                            <li><a> <span class="pull-right category"></span>Kinh Tế</a></li>
                            <li><a> <span class="pull-right category"></span>Khoa học Vật lý</a></li>
                            <li><a> <span class="pull-right category"></span>Sách học làm người</a></li>
                            <li><a> <span class="pull-right category"></span>Văn học nước ngoài</a></li>

                        </ul>
                    </div>



                    <div class="brands_products">
                        <!--brands_products-->
                        <h2>Tác giả</h2>
                        <div class="brands-name">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a><span class="pull-right author"></span>Michael Dart</a></li>
                                <li><a> <span class="pull-right author"></span>Minh Đức</a></li>
                                <li><a> <span class="pull-right author"></span>Matthieu Ricard</a></li>
                                <li><a> <span class="pull-right author"></span>Trịnh Xuân Thuận</a></li>
                                <li><a> <span class="pull-right author"></span>Nguyên Phong</a></li>
                                <li><a> <span class="pull-right author"></span>Ngọc Bích</a></li>
                                <li><a> <span class="pull-right author"></span>Inamori Kazuo</a></li>
                                <li><a> <span class="pull-right author"></span>Đổ Thái Hòa</a></li>
                                <li><a> <span class="pull-right author"></span>Huyền Cơ</a></li>
                                <li><a> <span class="pull-right author"></span>Dale Carnegie</a></li>
                            </ul>
                        </div>
                    </div><!--/brands_products-->

                    <div class="price-range">
                        <!--price-range-->
                        <h2>Price Range</h2>
                        <div class="well">
                            <div class="slider slider-horizontal" style="width: 178px;"><div class="slider-track"><div class="slider-selection" style="left: 20.8333%; width: 54.1667%;"></div><div class="slider-handle round left-round" style="left: 20.8333%;"></div><div class="slider-handle round" style="left: 75%;"></div></div><div class="tooltip top" style="top: -30px; left: 52.2917px;"><div class="tooltip-arrow"></div><div class="tooltip-inner">125 : 450</div></div><input type="text" class="span2" value="" data-slider-min="0" data-slider-max="500000" data-slider-step="20000" data-slider-value="[10000,400000]" id="sl2" style=""></div><br>
                            <b>VNĐ 0</b> <b class="pull-right">VNĐ 500.000</b>
                        </div>
                    </div>


                    <!--Search-range-->
                    @*<div class="container">
                        <div id="search-range">
                            <span class="badge badge-danger">
                                <button type="button" class="close">&times;</button>
                                Primary
                            </span>
                        </div>

                    </div>*@


                    <div class="shipping text-center">
                        <!--shipping-->
                        <img src="~/Content/images/home/shipping.jpg" alt="" />
                    </div><!--/shipping-->

                </div>
            </div>
            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center">Features Items</h2>
                    @{
                        int i = 1;
                    }
                    @foreach (var item in Model)
                    {
                        if (i % 3 == 0)
                        {
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="~/Content/anhbia/@item.AnhBia" alt="trống" />
                                                <h2>@Html.DisplayFor(modelItem => item.GiaBan)</h2>
                                                <p>@Html.DisplayFor(modelItem => item.TenSach)</p>

                                                <a href="/Sach/Detail/@item.MaSach" class="btn btn-default add-to-cart"><i class="fa fa-info-circle"></i>View Detail</a>

                                                <a href="/Cart/AddItem/@item.MaSach?returnURL=@Request.RawUrl" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                            </div>

                                        </div>  

                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-sm-4">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="~/Content/anhbia/@item.AnhBia" alt="trống" />
                                            <h2>@Html.DisplayFor(modelItem => item.GiaBan)</h2>
                                            <p>@Html.DisplayFor(modelItem => item.TenSach)</p>

                                            <a href="/Sach/Detail/@item.MaSach" class="btn btn-default add-to-cart"><i class="fa fa-info-circle"></i>View Detail</a>

                                            <a href="/Cart/AddItem/@item.MaSach?returnURL=@Request.RawUrl" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        }

                        i++;

                    }

                </div><!--features_items-->
            </div>

            @Html.PagedListPager(Model, pageTemp => Url.Action("Show", new { pageTemp = pageTemp }), new PagedListRenderOptions()
             {
           LiElementClasses = new List<string> { "paginate_button", "page-item" }
             })


        </div>
    </div>

</section>

